<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>You Guess!</title>
</head>

<body>
  <div id="app">
    <ul>
      <li v-for="(item, index) in roomUsers">
        ${ index } - ${ item ? item.username : '' } - ${ item ? item.status : '' }
      </li>
    </ul>
    <hr>
    <ul>
      <li v-for="(item, index) in messages">
        ${ item.message }
      </li>
    </ul>
    <hr>
    <div v-if="playerStatus === 'waiting'">WAITING</div>
    <div v-else>
      <h2>Game Bet</h2>
      <ul>
        <li v-for="(item, index) in gameBet">
          ${index} - ${ item.betUserNum } - ${ item.isWin ? 'WIN' : '' } -
          <button v-if="playerStatus === 'playing'" v-on:click="bet($event,index)">Bet Here</button>
        </li>
      </ul>
      <div v-if="playerStatus === 'ready'">Wait everyone ready to start.</div>
      <div v-if="playerStatus === 'not_ready'">
        <button v-on:click="ready">READY</button>
      </div>
    </div>
  </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js"
  integrity="sha512-BHtomM5XDcUy7tDNcrcX1Eh0RogdWiMdXl3wJcKB3PFekXb3l5aDzymaTher61u6vEZySnoC/SAj2Y/p918Y3w=="
  crossorigin="anonymous"></script>
<script src="serverUrl.js"></script>

<script>
  const { username, roomId } = Qs.parse(location.search, { ignoreQueryPrefix: true });
  const socket = io(serverUrl);

  function errorHandler(err) {
    return Swal.fire({
      icon: 'error',
      title: err
    })
      .then(() => {
        window.location.href = './index.html';
      });
  }

  socket.on('error', errorHandler);
  socket.on('customError', errorHandler);

  const DEFAULT_GAME_BET = [{ betUserNum: 0, isWin: false }, { betUserNum: 0, isWin: false }, { betUserNum: 0, isWin: false }, { betUserNum: 0, isWin: false }, { betUserNum: 0, isWin: false }, { betUserNum: 0, isWin: false }, { betUserNum: 0, isWin: false }, { betUserNum: 0, isWin: false }, { betUserNum: 0, isWin: false }];
  const vm = new Vue({
    el: '#app',
    delimiters: ['${', '}'],
    data: {
      roomUsers: [
        { username: 'userA', status: 'waiting' },
        { username: 'userB', status: 'waiting' },
        { username: 'userC', status: 'waiting' },
      ],
      userId: '',
      messages: [],
      gameBet: DEFAULT_GAME_BET,
    },
    methods: {
      ready: function () {
        socket.emit('ready', '');
      },
      bet: function (event, idx) {
        socket.emit('bet', idx);
      }
    },
    computed: {
      playerStatus: function () {
        for (let user of this.roomUsers) {
          if (user && user.userId === this.userId)
            return user.status;
        }
        return 'waiting';
      }
    },
    mounted: function () {
      this.$nextTick(function () {
        socket.on('userId', userId => this.userId = userId);
        socket.on('resetGameBet', () => this.gameBet = DEFAULT_GAME_BET);
        socket.on('roomUsers', (roomUsers) => {
          this.roomUsers = roomUsers;
        });
        socket.on('sysMessage', (message) => this.messages.push({ type: 'sys', message }));
        socket.on('gameBet', (data) => this.gameBet = data);

        socket.emit('joinRoom', { username, roomId });
      })
    }
  });
</script>


</html>