<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>You Guess!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body class="bg-dark">
  <div id="app" class="container text-white" style="margin-top: 70px;">
    <form>
      <div class="form-group">
        <label for="username">User Name</label>
        <input type="text" v-model="username" class="form-control" id="username" placeholder="Please input username">
      </div>

      <label for="createdRoomId">Create Room</label>
      <div class="input-group mb-3">
        <input type="text" v-model="createdRoomId" id="createdRoomId" class="form-control"
          placeholder="Create room here" aria-label="Create room here" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-danger" type="button" v-on:click="createRoom">CREATE
            ROOM</button>
        </div>
      </div>

      <table class="table table-dark" style="margin-top: 50px;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">ROOM</th>
            <th scope="col">JOIN ROOM</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(roomId,idx) in roomIds">
            <th scope="row">${idx + 1}</th>
            <td>${roomId}</td>
            <td><button class="btn btn-primary mb-2" v-on:click="joinRoom($event,roomId)">JOIN ROOM</button></td>
          </tr>
        </tbody>
      </table>

    </form>
  </div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="./serverUrl.js"></script>
<script>
  const vm = new Vue({
    el: '#app',
    delimiters: ['${', '}'],
    data: {
      roomIds: ['roomA', 'roomB', 'roomC'],
      createdRoomId: '',
      username: '',
      selectedRoomId: ''
    },
    methods: {
      createRoom: function (e) {
        e.preventDefault();
        if (!this.username) return this.showError('Please enter username');
        if (!this.createdRoomId) return this.showError('Please enter create room');
        this.toGameUrl(this.username, this.createdRoomId);
      },
      joinRoom: function (e, roomId) {
        e.preventDefault();
        if (!this.username) return this.showError('Please enter username');
        this.toGameUrl(this.username, roomId);
      },
      toGameUrl: function (username, roomId) {
        window.location.href = `/game.html?username=${username}&roomId=${roomId}`;
      },
      refreshRoomIds: function () {
        const requestOptions = {
          method: 'GET',
          headers: (new Headers()).append("Content-Type", "application/json"),
          mode: 'cors',
        };

        fetch(apiServerUrl + '/roomIds', requestOptions)
          .then(response => response.json())
          .then(roomIds => {
            this.roomIds = roomIds;
          })
          .catch(error => console.log('error', error));
      },
      showError(err) {
        return Swal.fire({
          icon: 'error',
          title: err.message || err
        });
      },
    },
    mounted: function () {
      this.$nextTick(function () {
        this.refreshRoomIds();
        setInterval(() => {
          this.refreshRoomIds();
        }, 5000);
      });
    }
  });
</script>

</html>